@(key: String, forcedValues: (Symbol, Any)*)(content: Html)(implicit messages: play.i18n.Messages)

@getValue(keyToLookFor: String, defaultKeySuffix: String) = {@Html(forcedValues.toMap.get(Symbol(keyToLookFor+"_force_raw")).map(_.toString).getOrElse(Messages(forcedValues.toMap.get(Symbol(keyToLookFor)).map(_.toString).getOrElse(key+"."+defaultKeySuffix))))}

@getForcedValueIfExists(keyToLookFor: String) = {@forcedValues.toMap.get(Symbol(keyToLookFor)).map(_.toString)}

	<section id="page-title" class="with-page-title-pattern page-title-pattern @getForcedValueIfExists("_css_outer_div_class")">
		<div class="container clearfix @getForcedValueIfExists("_css_inner_div_class")">
			<h1>@getValue("_head_key", "head")</h1>
			<span>@getValue("_head_subtitle_key", "head.subtitle")</span>
		</div>
	</section>
	
	<section id="content" class="with-page-title-pattern @getForcedValueIfExists("_css_content_div_class")">
		<div class="content-wrap">
			<div class="container clearfix">
				<div class="bottommargin-sm page-intro @getForcedValueIfExists("_css_intro_div_class")">@getValue("_head_intro_key", "head.intro")</div>
				
				@content
			</div>
		</div>
	</section>
	
	<section id="disclaimer" class="with-page-title-pattern @getForcedValueIfExists("_css_disclaimer_div_class")">
		<div class="content-wrap">
			<div class="container clearfix">
				@getValue("_disclaimer_key", "disclaimer")
			</div>
		</div>
	</section>