@()(implicit request: Http.Request, messages: play.i18n.Messages)

@import fr.hometime.utils._
@import scala.collection.immutable._
@import tags._
	
		<!-- Footer
		============================================= -->
		<footer id="footer" class="dark">

			<div class="container">

				<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap clearfix">

					<div class="col_two_third">

						<div class="col_one_third">

							<div class="widget clearfix">

								<img src="/assets/images/footer-widget-logo.png" alt="" class="footer-logo">

								<p>@Html(Messages("footer.claim"))</p>

								<div style="background: url('/assets/images/world-map.png') no-repeat center center; background-size: 100%;">
									<address>
										<strong>@Html(Messages("footer.location"))</strong><br>
										@Html(Messages("footer.address"))
									</address>
									<abbr title="Phone Number"><strong>Numéro:</strong></abbr> 07 82 43 47 51<br>
									<abbr title="Days"><strong>Jours d'ouverture:</strong></abbr> du Lundi au Vendredi, Samedi sur rdv<br>
									<abbr title="Hours"><strong>Horaires:</strong></abbr> de 10h à 18h30
								</div>

							</div>

						</div>

						<div class="col_one_third">

							<div class="widget widget_links clearfix">

								<h4>@Html(Messages("footer.category.important.links"))</h4>
								<ul>
									<li><a href="#">@Html(Messages("footer.who.are.we"))</a></li>
									<li><a href="@routes.HomeController.visit()">@Html(Messages("footer.visit.us"))</a></li>
									<li><a href="@routes.FormProcessingController.prepareQuotationRequest()">@Html(Messages("footer.quotation.request"))</a></li>
									<li><a href="#">@Html(Messages("footer.site.plan"))</a></li>
									<li><a href="#">@Html(Messages("footer.testimonials")) <span class="icon-star3"/><span class="icon-star3"/><span class="icon-star3"/><span class="icon-star3"/><span class="icon-star3"/></a></li>
									<li><a href="#">@Html(Messages("footer.faq"))</a></li>
									<li><a href="@routes.FormProcessingController.prepareContactRequest()">@Html(Messages("footer.contact.us"))&nbsp;<span class="icon-line-mail"/></a></li>
									<li><a href="@routes.FormProcessingController.prepareCallBackRequest()">@Html(Messages("footer.call.back"))&nbsp;<span class="icon-line2-call-in"/></a></li>
								</ul>

							</div>

						</div>

						<div class="col_one_third col_last">

							<div class="widget clearfix">
								<h4>Recent Posts</h4>

								<div id="post-list-footer">
									<div class="spost clearfix">
										<div class="entry-c">
											<div class="entry-title">
												<h4><a href="#">Lorem ipsum dolor sit amet, consectetur</a></h4>
											</div>
											<ul class="entry-meta">
												<li>10th July 2014</li>
											</ul>
										</div>
									</div>

									<div class="spost clearfix">
										<div class="entry-c">
											<div class="entry-title">
												<h4><a href="#">Elit Assumenda vel amet dolorum quasi</a></h4>
											</div>
											<ul class="entry-meta">
												<li>10th July 2014</li>
											</ul>
										</div>
									</div>

									<div class="spost clearfix">
										<div class="entry-c">
											<div class="entry-title">
												<h4><a href="#">Debitis nihil placeat, illum est nisi</a></h4>
											</div>
											<ul class="entry-meta">
												<li>10th July 2014</li>
											</ul>
										</div>
									</div>
								</div>
							</div>

						</div>

					</div>

					<div class="col_one_third col_last">

						<div class="widget clearfix" style="margin-bottom: -20px;">

							<div class="row">

								<div class="col-lg-6 bottommargin-sm">
									<div class="counter counter-small"><span data-from="50" data-to="15065421" data-refresh-interval="80" data-speed="3000" data-comma="true"></span></div>
									<h5 class="nobottommargin">Total Downloads</h5>
								</div>

								<div class="col-lg-6 bottommargin-sm">
									<div class="counter counter-small"><span data-from="100" data-to="18465" data-refresh-interval="50" data-speed="2000" data-comma="true"></span></div>
									<h5 class="nobottommargin">Clients</h5>
								</div>

							</div>

						</div>

						<div class="widget subscribe-widget clearfix">
							<h5><strong>Subscribe</strong> to Our Newsletter to get Important News, Amazing Offers &amp; Inside Scoops:</h5>
							<div class="widget-subscribe-form-result"></div>
							<form id="widget-subscribe-form" action="include/subscribe.php" method="post" class="nobottommargin">
								<div class="input-group divcenter">
									<div class="input-group-prepend">
										<div class="input-group-text"><i class="icon-email2"></i></div>
									</div>
									<input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="form-control required email" placeholder="Enter your Email">
									<div class="input-group-append">
										<button class="btn btn-success" type="submit">Subscribe</button>
									</div>
								</div>
							</form>
						</div>

						<div class="widget clearfix" style="margin-bottom: -20px;">

							<div class="row">
								@List(("facebook", "https://www.facebook.com/HometimeFr/"),
								("instagram", "https://www.instagram.com/watchnexthometime/")).zipWithIndex.map { case (value,index) => 
								<div class="col-lg-6 clearfix @if(index==0) {bottommargin-sm}">
									<a href="@value._2" class="social-icon si-dark si-colored si-@value._1 nobottommargin" style="margin-right: 10px;">
										<i class="icon-@value._1"></i>
										<i class="icon-@value._1"></i>
									</a>
									<a href="#"><small style="display: block; margin-top: 3px;">@Html(Messages("footer.follow.on."+value._1.toString))</a>
								</div>
								}
							</div>

						</div>

					</div>

				</div><!-- .footer-widgets-wrap end -->

			</div>

			<!-- Copyrights
			============================================= -->
			<div id="copyrights">

				<div class="container clearfix">

					<div class="col_half">
						@Html(Messages("footer.copyright",java.time.Year.now.getValue))<br>
						<div class="copyright-links"><a href="#">@Html(Messages("footer.legal"))</a> / <a href="#">@Html(Messages("footer.private"))</a> / <a href="#">@Html(Messages("footer.cgv"))</a></div>
					</div>

					<div class="col_half col_last tright">
						<div class="fright clearfix">
						@List(("facebook", "https://www.facebook.com/HometimeFr/"),
								("instagram", "https://www.instagram.com/watchnexthometime/"),
								("google", "https://www.google.fr/maps/place/Hometime/@@48.8653845,2.3290163,17z/data=!3m1!4b1!4m5!3m4!1s0x47e66e044cc7bc6d:0xd0cd7665da91391f!8m2!3d48.865381!4d2.331205"),
								("youtube", "https://www.youtube.com/channel/UC5Ejr-hgPxDZQxJbcSUsmbQ"),
								("linkedin", "https://www.linkedin.com/company/watch-next/")).zipWithIndex.map { case (value,index) => 
								<a href="@value._2" class="social-icon si-small si-borderless si-@value._1" target="_blank">
									<i class="icon-@value._1"></i>
									<i class="icon-@value._1"></i>
								</a>
							}
						</div>

						<div class="clear"></div>

						<i class="icon-headphones"></i>&nbsp;<span class="middot">&middot;</span>&nbsp;@Html(Messages("footer.phone.number"))
					</div>

				</div>

			</div><!-- #copyrights end -->

		</footer><!-- #footer end -->

