@()(implicit request: Http.Request, messages: play.i18n.Messages)

@import fr.hometime.utils._
@import controllers._
@import scala.collection.immutable._
@import tags._

@smallPost(title: String, body: String, date: Date, contentLink: String="") = {
									<div class="spost clearfix">
										<div class="entry-c">
											<div class="entry-title">
												<h4>@if(!contentLink.equals("")) {<a href="@contentLink">@title</a>} else {@title}</h4>
											</div>
											<ul class="entry-meta">
												<li>@Html(Messages("page.news.date.template", date)).toString.trim.capitalize</li>
											</ul>
										</div>
									</div>
}
	
		<!-- Footer
		============================================= -->
		<footer id="footer" class="dark">

			<div class="container">

				<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap clearfix">

					<div class="col_two_third">

						<div class="col_one_third">

							<div class="widget clearfix">
								@picture(remote_assets("images/footer-widget-logo.webp").toString, remote_assets("images/footer-widget-logo.png").toString, "", Symbol("_class") -> "footer-logo")

								<p>@Html(Messages("footer.claim"))</p>

								<div style="background: url('@remote_assets("/images/world-map.png")') no-repeat center center; background-size: 100%;">
									<address>
										<strong>@Html(Messages("footer.location"))</strong><br>
										@Html(Messages("footer.address"))
									</address>
									<abbr title="@Html(Messages("footer.phonenumber.abbrtitle"))"><strong>@Html(Messages("footer.phonenumber.label"))</strong></abbr> @Html(Messages("footer.phonenumber.value"))<br>
									<abbr title="@Html(Messages("footer.opening.days.abbrtitle"))"><strong>@Html(Messages("footer.opening.days.label"))</strong></abbr> @Html(Messages("footer.opening.days.value"))<br>
									<abbr title="@Html(Messages("footer.opening.hours.abbrtitle"))"><strong>@Html(Messages("footer.opening.hours.label"))</strong></abbr> @Html(Messages("footer.opening.hours.value"))
								</div>

							</div>

						</div>

						<div class="col_one_third">

							<div class="widget widget_links clearfix">

								<h4>@Html(Messages("footer.category.important.links"))</h4>
								<ul>
									<li><a href="@routes.HomeController.content("content.who.are.we").url" title="@Html(Messages("footer.who.are.we.title"))">@Html(Messages("footer.who.are.we"))</a></li>
									<li><a href="@routes.HomeController.visit()" title="@Html(Messages("footer.visit.us.title"))">@Html(Messages("footer.visit.us"))</a></li>
									<li><a href="@routes.FormProcessingController.prepareQuotationRequest()" title="@Html(Messages("footer.quotation.request.title"))">@Html(Messages("footer.quotation.request"))</a></li>
									<li><a href="@routes.HomeController.siteplan()" title="@Html(Messages("footer.site.plan.title"))">@Html(Messages("footer.site.plan"))</a></li>
									<li><a href="@routes.HomeController.feedbacks()" title="@Html(Messages("footer.testimonials.title"))">@Html(Messages("footer.testimonials")) <span class="icon-star3"></span><span class="icon-star3"></span><span class="icon-star3"></span><span class="icon-star3"></span><span class="icon-star3"></span></a></li>
									<li><a href="@routes.HomeController.faq()" title="@Html(Messages("footer.faq.title"))">@Html(Messages("footer.faq"))</a></li>
									<li><a href="@routes.FormProcessingController.prepareContactRequest()" title="@Html(Messages("footer.contact.us.title"))">@Html(Messages("footer.contact.us"))&nbsp;<span class="icon-line-mail"></span></a></li>
									<li><a href="@routes.FormProcessingController.prepareCallBackRequest()" title="@Html(Messages("footer.call.back.title"))">@Html(Messages("footer.call.back"))&nbsp;<span class="icon-line2-call-in"></span></a></li>
								</ul>

							</div>

						</div>

						<div class="col_one_third col_last d-none d-md-flex ">

							<div class="widget clearfix">
								<h4>@Html(Messages("footer.category.news"))</h4>

								<div id="post-list-footer">
									
									@HomeController.injectedNewsProvider.retrieveNews().get.map{ news =>
												@smallPost(news.title, news.body, news.date, news.readMoreUrl.orElse(""))
									}
									
								</div>
							</div>

						</div>

					</div>

					<div class="col_one_third col_last">

						<div class="widget subscribe-widget clearfix">
							<h5><strong>@Html(Messages("footer.subscribe.main.action"))</strong> @Html(Messages("footer.subscribe.main.topic"))</h5>
							<div class="widget-subscribe-form-result"></div>
							<form id="widget-subscribe-form" action="@routes.FormProcessingController.processRegister()" method="post" class="nobottommargin">
								@helper.CSRF.formField
								<div class="input-group divcenter">
									<div class="input-group-prepend">
										<div class="input-group-text"><i class="icon-email2"></i></div>
									</div>
									<input type="email" id="widget-subscribe-form-email" name="email" class="form-control required email" placeholder="@Html(Messages("footer.subscribe.action.placeholder"))">
									<div class="input-group-append">
										<button class="btn btn-success" type="submit">@Html(Messages("footer.subscribe.action.label"))</button>
									</div>
								</div>
							</form>
						</div>

						<div class="widget clearfix" style="margin-bottom: -20px;">

							<div class="row">
								@List(("facebook", "https://www.facebook.com/HometimeFr/"),
								("instagram", "https://www.instagram.com/watchnexthometime/")).zipWithIndex.map { case (value,index) => 
								<div class="col-lg-6 clearfix @if(index==0) {bottommargin-sm}">
									<a href="@value._2" title="@Messages(value._1+".link.title")" class="social-icon si-dark si-colored si-@value._1 nobottommargin" style="margin-right: 10px;">
										<i class="icon-@value._1"></i>
										<i class="icon-@value._1"></i>
									</a>
									<a href="@value._2" title="@{value._1}.link.title"><small style="display: block; margin-top: 3px;">@Html(Messages("footer.follow.on."+value._1.toString))</a>
								</div>
								}
							</div>

						</div>

					</div>

				</div><!-- .footer-widgets-wrap end -->

			</div>

			<!-- Copyrights
			============================================= -->
			<div id="copyrights">

				<div class="container clearfix">

					<div class="col_half">
						@Html(Messages("footer.copyright",java.time.Year.now.getValue))<br>
						<div class="copyright-links"><a href="@routes.HomeController.content("content.legal").url" title="@Html(Messages("footer.legal.title"))">@Html(Messages("footer.legal"))</a> / <a href="@routes.HomeController.content("content.privacy").url" title="@Html(Messages("footer.private.title"))">@Html(Messages("footer.private"))</a> / <a href="@remote_assets("CGV%20-%20Hometime.pdf")" title="@Html(Messages("footer.cgv.title"))">@Html(Messages("footer.cgv"))</a></div>
					</div>

					<div class="col_half col_last tright">
						<div class="fright clearfix">
						@List(("facebook", "https://www.facebook.com/HometimeFr/"),
								("instagram", "https://www.instagram.com/watchnexthometime/"),
								("google", "https://www.google.fr/maps/place/Hometime/@@48.8653845,2.3290163,17z/data=!3m1!4b1!4m5!3m4!1s0x47e66e044cc7bc6d:0xd0cd7665da91391f!8m2!3d48.865381!4d2.331205"),
								("youtube", "https://www.youtube.com/channel/UC5Ejr-hgPxDZQxJbcSUsmbQ"),
								("linkedin", "https://www.linkedin.com/company/watch-next/")).zipWithIndex.map { case (value,index) => 
								<a href="@value._2" title="@Messages(value._1+".link.title")"  class="social-icon si-small si-borderless si-@value._1" target="_blank">
									<i class="icon-@value._1"></i>
									<i class="icon-@value._1"></i>
								</a>
							}
						</div>

						<div class="clear"></div>

						<a href="tel:@Messages("global.phone.number.raw")"  title="@Html(Messages("global.phone.number.link.title")) rel="nofollow"><i class="icon-headphones"></i>&nbsp;<span class="middot">&middot;</span>&nbsp;@Html(Messages("footer.phone.number"))</a>
					</div>

				</div>

			</div><!-- #copyrights end -->

		</footer><!-- #footer end -->

