@()(implicit messages: play.i18n.Messages)

@import scala.collection.immutable._
@import tags._

		<!-- Top Bar
		============================================= -->
		<div id="top-bar">

			<div class="container clearfix">

				<div class="nobottommargin">

					<span class="nobottommargin"><a href="tel:@Messages("global.phone.number.raw")" rel="nofollow"><i class="icon-line2-call-end"></i> <strong>@Html(Messages("global.phone.number"))</strong></span></a>

					<span class="fright nobottommargin"><a href="@routes.HomeController.visit()"><i class="icon-location"></i> <strong>@Html(Messages("top.bar.address.street"))<span class="d-none d-md-inline"> @Html(Messages("top.bar.address.zip"))</span> @Html(Messages("top.bar.address.city"))</strong></a></span>
				</div>

			</div>

		</div><!-- #top-bar end -->