@()

@import scala.collection.immutable._
@import fr.hometime.utils.AlertHelper
@import tags._

@defining(HomeController.injectedLiveConfigProvider) { provider =>
@if(AlertHelper.shouldDisplay(provider)) {

		<!-- Alert Bar
		============================================= -->
		<div id="alert-bar-unstyled">
				<div class="alert @AlertHelper.cssClass(provider).orElse("alert-warning") nobottommargin center">
					<i class="@AlertHelper.leadingSign(provider).orElse("icon-warning-sign")"></i>@Html(AlertHelper.message(provider))
				</div>
		</div><!-- #top-bar end -->
}
}