@()

@import scala.collection.immutable._
@import tags._

		<!-- Top Bar
		============================================= -->
		<div id="top-bar">

			<div class="container clearfix">

				<div class="nobottommargin">

					<span class="nobottommargin"><i class="icon-line2-call-end"></i> <strong>07 82 43 47 51</strong></span>

					<span class="fright nobottommargin"><a href="@routes.HomeController.visit()"><i class="icon-location"></i> <strong>322 rue Saint Honoré,<span class="d-none d-md-inline"> 75001</span> Paris</strong></a></span>
				</div>

			</div>

		</div><!-- #top-bar end -->