@(key: String)(implicit messages: play.i18n.Messages)

@import fr.hometime.utils._
@import java.util._
@import tags._
	
@displayMenu(menu:List[Menu], messageKey: String, level:Int) = {
	@indent(level)<ul>@for(subMenu <- menu) {
	@indent(level+1)<li class="@subMenu.getCssClass.getOrElse("") @if(subMenu.isHighlighted(key)) {current}">
	@indent(level+2)<a href="@subMenu.getHref.getOrElse("#")" title="@h_msg_key(messageKey, subMenu.getLabel+".title")"><div>@if(subMenu.hasImg) {<i class="@subMenu.getImg.get"></i>}@h_msg_key(messageKey, subMenu.getLabel)</div></a>@if(subMenu.hasSubMenus) {@displayMenu(subMenu.getSubMenus.get(), messageKey, level+2)}
	@indent(level+1)</li>}
	@indent(level)</ul>}

@defining(new ArrayList[Menu], "main.menu") { case (mainMenu, messageKey) =>
					
	@{ 
		mainMenu.add(
			Menu.of("offer.main", Optional.empty(), Optional.empty(), Optional.of("icon-line-watch"))
				.addSubMenu("offer", Optional.of(routes.HomeController.offers().url), Optional.empty(), Optional.empty())
					.addSubMenu("offer.service", Optional.of(routes.HomeController.offers().url), Optional.empty(), Optional.empty())
						.getParentIfExists()
					.addSubMenu("offer.restore", Optional.of(routes.HomeController.offers().url+"#offer.restore"), Optional.empty(), Optional.empty())
						.getParentIfExists()
					.addSubMenu("offer.quartz", Optional.of(routes.HomeController.offers().url+"#offer.quartz"), Optional.empty(), Optional.empty())
						.getParentIfExists()
					.getParentIfExists()
				.addSubMenu("prices", Optional.of(routes.HomeController.prices().url), Optional.empty(), Optional.empty())
					.getParentIfExists()
				.addSubMenu("quartz.prices", Optional.of(routes.FormProcessingController.prepareQuartzPrice().url), Optional.empty(), Optional.empty())
					.getParentIfExists()
				.addSubMenu("feedbacks", Optional.of(routes.HomeController.feedbacks().url), Optional.empty(), Optional.empty())
				.getHighestParentIfExists());
				
		mainMenu.add(
			Menu.of("watch.dealing.main", Optional.empty(), Optional.empty(), Optional.of("icon-exchange-alt"))
				.addSubMenu("watch.purchasing", Optional.of("#"), Optional.empty(), Optional.empty())
					.getParentIfExists()
				.addSubMenu("watch.selling", Optional.of("#"), Optional.empty(), Optional.empty())
					.getParentIfExists()
				.addSubMenu("watch.estimate", Optional.of("#"), Optional.empty(), Optional.empty())
					.getParentIfExists()
				.getHighestParentIfExists());
				
		mainMenu.add(
			Menu.of("service.main", Optional.empty(), Optional.empty(), Optional.of("icon-wrench"))
				.addSubMenu("service.main.content", Optional.empty(), Optional.empty(), Optional.empty())
					.addSubMenu("service.main.content.all", Optional.of(routes.HomeController.content("content.service.repairing").url), Optional.empty(), Optional.empty())
						.getParentIfExists()
					.addSubMenu("service.main.content.rolex", Optional.of(routes.HomeController.content("content.rolex.repairing").url), Optional.empty(), Optional.empty())
						.getParentIfExists()
					.addSubMenu("service.main.content.omega", Optional.of(routes.HomeController.content("content.omega.repairing").url), Optional.empty(), Optional.empty())
						.getParentIfExists()
					.getParentIfExists()
				.addSubMenu("service.main.content.water", Optional.of("/perma/water"), Optional.empty(), Optional.empty())
					.getParentIfExists()
				.addSubMenu("service.main.news", Optional.of(routes.HomeController.news().url), Optional.empty(), Optional.empty())
						.getParentIfExists()
				.addSubMenu("service.main.content.authenticating", Optional.of("/perma/authent"), Optional.empty(), Optional.empty())
					.getParentIfExists()	
				.addSubMenu("service.main.content.watchmakers", Optional.of("/perma/horlogers"), Optional.empty(), Optional.empty())
				.getHighestParentIfExists());
				
		mainMenu.add(
			Menu.of("visit.us", Optional.of(routes.HomeController.visit().url), Optional.of("d-lg-none d-xl-block"), Optional.of("icon-location"))
				.getHighestParentIfExists());
				
		
		print("");
	}
					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu" class="not-dark style-5">
						@displayMenu(mainMenu, messageKey,4)
					</nav><!-- #primary-menu end -->
}
