@()(implicit messages: play.i18n.Messages)

@import scala.collection.immutable._
@import tags._

		<!-- Temporary Bar
		============================================= -->
		<div id="Temporay-bar">

			<div class="promo promo-full notopborder padding-reduced">
						<div class="container clearfix">
							<h3><i class="icon-info-sign"></i> @Html(Messages("global.text.temporary.main"))</h3>
							<span>@Html(Messages("global.text.temporary.explain"))</span>
						</div>
				</div>	
				
		</div><!-- #temporary-bar end -->