@(feedback: Feedback, maxSize: Integer=300)(implicit request: Http.Request, messages: play.i18n.Messages)
@import tags._

								<div class="testimonial">
									<div class="testi-image">
										<a href="@routes.HomeController.feedbacks()#feedback@feedback.id" title="@Html(Messages("feedback.link.title"))"><img src="@feedback.pictureUrl" alt="@Html(Messages("feedback.link.alt"))"></a>
									</div>
									<div class="testi-content">
										<span class="testi-date">@Html(Messages("feedback.date.template",feedback.displayDate)).toString.trim.capitalize</span><p>@takeif_html(feedback.body, maxSize)</p>
										<div class="testi-meta">
											@feedback.author
											<span>@Html(Messages("feedback.value.type."+feedback.typeOfFeedback.toString.replace('_','.').toLowerCase))</span>
										</div>
									</div>
								</div>