/*-----------------------------------------------------------------------------------
	less/responsive-hacks.less
-----------------------------------------------------------------------------------*/


@media only screen and (max-width: 1199.98px) {

}


@media only screen and (min-width: 992px) and (max-width: 1199.98px) {

}


@media only screen and (max-width: 991.98px) {

}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {

}

@media only screen and (max-width: 767.98px) {
	.promo {
		h3 {
			font-size: 15px !important;
		}
	}
	
	.promo > span,
	.promo > .container > span {
		font-size: 13px !important;
	}
	
	.home h1 {
		font-size: 20px !important;
	}
	
	.home h2 {
		font-size: 18px !important;
	}
	
	.home .claim h1 {
		margin-top: -60px !important;
		font-size: 18px !important;
	}

	.home .claim h2 {
		font-size: 15px !important;
	}
	
	.content-template img {
		max-height: 200px !important;
	}
}

@media (min-width: 576px) and (max-width: 767.98px) {

}

@media (max-width: 575.98px) {
	#top-bar .container {
		padding-right: 20px !important;
	    padding-left: 20px !important;	
	}
	
	.slider-caption h2 {
		font-size: 22px !important;
		margin-top: -2em !important;
	}
	
	.content-template img {
		max-height: 150px !important;
	}


}

/* ----------------------------------------------------------------
	Retina CSS
-----------------------------------------------------------------*/


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {


}

@media
only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 991.98px),
only screen and (   min--moz-device-pixel-ratio: 2) and (max-width: 991.98px),
only screen and (     -o-min-device-pixel-ratio: 2/1) and (max-width: 991.98px),
only screen and (        min-device-pixel-ratio: 2) and (max-width: 991.98px),
only screen and (                min-resolution: 192dpi) and (max-width: 991.98px),
only screen and (                min-resolution: 2dppx) and (max-width: 991.98px) {

}