/*-----------------------------------------------------------------------------------

	Custom styles

    LESS Stylesheet

-----------------------------------------------------------------------------------*/
// Initialize
@import "less/variables.less";

/*-----------------------------------------------------------------------------------
	General customizing
-----------------------------------------------------------------------------------*/

.features {
	list-style-type: none;
}

.feature-box.fbox-center.fbox-bg h3:after {
	content: '';
	display: block;
	margin: 20px auto;
	width: 30px;
	border-top: 2px solid #555;
	-webkit-transition: width .3s ease;
	-o-transition: width .3s ease;
	transition: width .3s ease;
}

.feature-box.fbox-center.fbox-bg:hover h3:after { width: 50px; }

.service-test-success {
	.feature-box.fbox-center p {
    	font-size: 18px;
	}
}

.padding-reduced {
	padding: 10px 0 !important;
}

.page-intro {
	font-size: 18px;
}

.page-intro:first-letter {
	float: left;
    line-height: 1;
    margin: 0 5px 0 0;
    text-transform: uppercase;
	font-size: 52px;
}

/*-----------------------------------------------------------------------------------
	Customizing bars
-----------------------------------------------------------------------------------*/

#top-bar, #alert-bar {
	z-index: 199;
	background-color: #fff;
}

#alert-bar {
	background-color: #feefb3;
}

#alert-bar-unstyled, #flash-bar-unstyled {
	position: relative;
  	border-bottom: 1px solid #EEE;
	z-index: 199;
}

#alert-bar-unstyled *, #flash-bar-unstyled * {
	border-radius: 0 !important;
}

#alert-bar {
  position: relative;
  border-bottom: 1px solid #EEE;
  line-height: 45px;
  font-size: 13px;
}

/*-----------------------------------------------------------------------------------
	Correcting url of css images
-----------------------------------------------------------------------------------*/

#primary-menu ul ul > li.sub-menu > a,
#primary-menu ul ul > li.sub-menu:hover > a {
	background-image: url("/assets/images/icons/submenu.png") !important;
}

#page-title.page-title-pattern {
    background-image: url("/assets/images/pattern.png");
}

.dark #page-title.page-title-pattern { background-image: url('/assets/images/pattern2.png'); }

.swiper_wrapper {
	.swiper-container {
		background: url('/assets/images/pattern2.webp') repeat ;
	}
}

.video-wrap {
	.video-overlay,
	.video-placeholder {
		background: transparent url('/assets/images/grid.png') repeat;
	}
}

.owl-carousel.owl-loading {
	background: url('/assets/images/preloader.gif') no-repeat center center;
}


.fbox-border.fbox-effect .fbox-icon i:after {
	background-image: url('/assets/images/icons/iconalt.svg');
}

.i-alt {
	background-image: url('/assets/images/icons/iconalt.svg');
}

.i-overlay,
.i-overlay a {
	background: rgba(0,0,0,0.2) url('/assets/images/grid.png') repeat;
}

.owl-carousel.owl-loading {
	background: url('/assets/images/preloader.gif') no-repeat center center  !important;
}

.preloader,
.preloader2,
.form-process {
	background: url('/assets/images/preloader.gif') center center no-repeat #FFF !important;
}

.fancy-title.title-dotted-border { background: url('/assets/images/icons/dotted.png') repeat-x center !important; }

/*-----------------------------------------------------------------------------------
	Customizing contents
-----------------------------------------------------------------------------------*/


.offer .service ul, .content-template ul {
	padding-left: 3em !important;
}

#content.with-page-title-pattern .content-wrap {
  padding-top: 1em !important;
}

#disclaimer.with-page-title-pattern  {
	margin-bottom: 2em;
}

.content-template img {
	max-height: 225px;
}

.content-template .sub-title {
	font-size: 1.2em;
	margin-bottom: 0.5em;
}

.content-template .sub-title:not(:first-child) {
	margin-top: 0.5em;
}

.content-template span {
	text-align: justify;
}

/*-----------------------------------------------------------------------------------
	Customizing forms
-----------------------------------------------------------------------------------*/

label.not-clickable {
	cursor: default;
}

.group-label label {
	text-decoration: underline;
}

.error .btn-outline-secondary {
	border-color: #E42C3E;
}

dd.error {
	color: #E42C3E;
	font-weight: bold;
}

.my-forms .btn-outline-secondary:not(:disabled):not(.disabled):active, .my-forms .btn-outline-secondary:not(:disabled):not(.disabled).active, .my-forms .show > .btn-outline-secondary.dropdown-toggle {
    color: #fff;
    background-color: @theme-color;
}

.action-successfull i.i-plain, .certificate-successfull i.i-plain {
	color: #3b916d;
}

.action-error i.i-plain, .certificate-error i.i-plain {
	color: #dc3545;
}

.certificate-successfull, .certificate-error  {
	h5 {
		font-size: 1.2rem;
	}
	
	div {
		font-size: 0.9rem;
	}
}

.my-forms {
	h3 {
		font-size: 1.2rem;
	}
}

.simple-radio {
	.input-group {
		display: block !important;
	}
	.radio-style:checked + .radio-style-3-label:before {
		color: #000 !important;
	}
}

/*-----------------------------------------------------------------------------------
	News page
-----------------------------------------------------------------------------------*/

.page-news {
	.entry:first-of-type {
		margin-top: 7em;
	}
}

/*-----------------------------------------------------------------------------------
	Others
-----------------------------------------------------------------------------------*/


.page-feedbacks :target {
    display: block;    
    position: relative;     
    top: -200px;
    visibility: hidden;
}

.offer :target {
    margin-top: -200px;
    padding-top: 200px;
}

.auto-quotation-form {
	.process-steps li {
    	pointer-events: none;
	}
	
	.result .auto-quotation-result-title-body {
		margin-bottom: 2.5em;
		font-size: 17px;
	}
	
	.result .auto-quotation-result-actions div {
		margin-bottom: 1em;
		.text-action {
			font-size: 17px;
		}
	}
}

.home {
	.quotation-option.feature-box:hover {
		background-color: #F5F5F5;
	}
	.quotation-option {
		.features {
			li {
				font-size: 1.1em;
				color: black;
			}
		}
	}
}

.choose-quotation {
	.image-container {
		text-align: center !important;
		margin-bottom: 2em;
		img {
			max-height: 170px;
		}
	}
	
	.feature-box:hover {
		background-color: #F5F5F5;
	}
	
	.features {
		li {
			font-size: 1.2em;
			color: black;
		}
	}
}

.page-visit-us {
	.feature-box p {
	    font-size: 15px;
	}
}
.page-prices {
	.disclaimer {
		font-size: 0.8em;
		margin-bottom: 2em;
		}
}

.quartz-prices {
	.pricing-price span.price-value {
	    display: inline-block;
	    vertical-align: top;
	    margin: 7px 3px 0 0;
	    font-size: 74px !important;
	    font-weight: normal;
	}
	
	.pricing-price span.price-unit, .pricing-price span.price-tenure {
	    vertical-align: bottom;
	    margin: 0 0 10px 0;
	}
	
	.best-price .pricing-price span.price-value {
	    font-size: 90px !important;
	}
}

.no_break {
	white-space: nowrap;
}

.home {
	.portfolio-image {
	    width: 100%;
	    height: 0;
	    padding-bottom: 75%; /* You define this doing image height / width * 100% */
	    position: relative;
		img {
			width: 100%;
		    height: auto;
		    position: absolute;
		}
	}
	.pseudo-background-img-container {
	  position: relative;
	}
	.pseudo-background-img {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  object-fit: cover;
	}
	
	.hulk i {
		background-color: @like-rolex-green;
	}
	
	.datejust i  {
		background-color: @darker-blue;
	}
}

#top-bar {
	font-size: 16px;
}


