/*-----------------------------------------------------------------------------------

	Custom styles

    LESS Stylesheet

-----------------------------------------------------------------------------------*/

.features {
	list-style-type: none;
}

.padding-reduced {
	padding: 10px 0 !important;
}

#top-bar, #alert-bar {
	z-index: 199;
	background-color: #fff;
}

#alert-bar {
	background-color: #feefb3;
}

#alert-bar-unstyled {
	position: relative;
  	border-bottom: 1px solid #EEE;
	z-index: 199;
}

#alert-bar {
  position: relative;
  border-bottom: 1px solid #EEE;
  line-height: 45px;
  font-size: 13px;
}

.slider-caption h2 {
    font-size: 3rem;
}

.home .claim h1 {
	margin-top: -1em;
	font-size: 30px;
}


.home .claim h2 {
	padding: 0 40px;
}

abbr {
	text-decoration: underline !important;
}

.offer .service ul, .content-template ul {
	padding-left: 2em !important;
}

#primary-menu ul ul > li.sub-menu > a,
#primary-menu ul ul > li.sub-menu:hover > a {
	background-image: url("/assets/images/icons/submenu.png") !important;
}

.content-template img {
	max-height: 300px;
}

.content-template .sub-title {
	font-size: 1.2em;
	margin-bottom: 0.5em;
}

.content-template .sub-title:not(:first-child) {
	margin-top: 0.5em;
}