@()(implicit request: Http.Request, messages: play.i18n.Messages)

@import scala.collection.immutable._
@import tags._

@feature(icon: String, key: String, index: Int) = {
						<div class="col_one_third bottommargin-xl @if(index == 2) {col_last}">

							<div class="feature-box fbox-plain">
								<div class="fbox-icon">
									<i class="@icon"></i>
								</div>
								<h3>@Html(Messages(key+".title."+index))</h3>
								<p>@Html(Messages(key+".body."+index))</p>
							</div>

						</div>
}

@defining("appointment") { case (key) =>

	@layouts.main_helper_with_head_block(key) {
	
					<div class="topmargin-lg">
					
						@List("icon-calendar-check",
									"icon-question-sign",
									"icon-ok").zipWithIndex.map { case (value, index) => @feature(value, key, index) }
	
						<div class="col_full center">

							<h2>Disponible très bientôt</h2>

						</div>
					</div>
	
	}
}