@(feedbacks: Optional[List[Feedback]], brands: Optional[List[Brand]])(implicit request: Http.Request, messages: play.i18n.Messages)

@import scala.collection.immutable._
@import tags._


@promise(icon: String, index: Int) = {
							<div class="col-lg-4 bottommargin center">
								<i class="i-plain color i-large @icon inline-block" style="margin-bottom: 15px;"></i>
								<div class="heading-block nobottomborder" style="margin-bottom: 15px;">
									<span class="before-heading">@Html(Messages("home.promise."+index+".claim"))</span>
									<h4>@Html(Messages("home.promise."+index+".head"))</h4>
								</div>
								<p class="text-justify">@Html(Messages("home.promise."+index+".body"))</p>
							</div>
}

@feature(icon: String, index: Int, pushRight: Boolean) = {
							<div class="feature-box @if(pushRight) {fbox-right} topmargin" data-animate="fadeIn">
								<div class="fbox-icon">
									<i class="@icon" style="background-color:#3b916d"></i>
								</div>
								<h3>@Html(Messages("home.feature."+index+".head"))</h3>
								<p>@Html(Messages("home.feature."+index+".body"))</p>
							</div>
}

@stats(valueFrom: Int, valueTo: Int, valueRefresh: Int, valueSpeed: Int, icon: String, color: String, index: Int) = {
					<div class="col-lg-3 col-md-6 dark center col-padding" style="background-color: @color">
						<i class="i-plain i-xlarge divcenter @icon"></i>
						<div class="counter counter-lined"><span data-from="@valueFrom" data-to="@valueTo" data-refresh-interval="@valueRefresh" data-speed="@valueSpeed"></span>&nbsp;@Html(Messages("home.stats."+index+".unit"))</div>
						<h5>@Html(Messages("home.stats."+index+".text"))</h5>
					</div>
}

@quotation(icon: String, url: String, key: String, index: Int) = {
					@defining("home."+key)  { computedKey =>
					<div class="col_one_third nobottommargin @if(index == 3) {col_last}">
						<a href="@url">
						<div class="quotation-option feature-box fbox-center fbox-dark fbox-dark fbox-bg fbox-effect bottommargin-lg">
							<div class="fbox-icon">
								<i class="i-alt noborder @icon"></i>
							</div>
							<h3>@Html(Messages(computedKey+".title"))<span class="subtitle">@Html(Messages(computedKey+".subtitle"))</span></h3>
							<div class="bottommargin-sm topmargin-sm">
								<ul class="features">
								@List.range(1, 4).map{ case value => <li> @Html(Messages(computedKey+".promise."+value)) </li> }
								</ul>
							</div>
						</div>
						</a>
					</div>
					}
}

@testimonial(feedback: Feedback) = {
								<div class="testimonial">
									<div class="testi-image">
										<a href="@routes.HomeController.feedbacks()#feedback@feedback.id"><img src="@feedback.pictureUrl" alt="Customer Testimonails"></a>
									</div>
									<div class="testi-content">
										<span class="testi-date">@Html(Messages("feedback.date.template",feedback.displayDate)).toString.trim.capitalize</span><p>@takeif_html(feedback.body, 100)</p>
										<div class="testi-meta">
											@feedback.author
											<span>@feedback.typeOfFeedback</span>
										</div>
									</div>
								</div>
}

@layouts.home() {
  <div class="content-wrap">
  				<div class="claim divcenter center clearfix bottommargin-sm" style="max-width: 900px;">
  					<!--<img class="bottommargin" src="/assets/images/url-avec-logo-375-black-high.png" alt="">-->
					<h1>@Html(Messages("home.claim"))</h1>
					<h2>@Html(Messages("home.claim.more"))</h2>
					<a href="@routes.HomeController.visit()" class="button button-3d button-dark button-large ">@Html(Messages("home.action.visit.us"))</a>
					<a href="@routes.FormProcessingController.prepareQuotationRequest()" class="button button-3d button-large">@Html(Messages("home.action.quotation.request"))</a>
				</div>
				
				<div class="section nobottommargin padding-reduced">
					<div class="container clear-bottommargin clearfix">

						<div class="row topmargin-sm clearfix">

							@List("icon-line-watch",
									"icon-broadcast-tower",
									"icon-home1").zipWithIndex.map { case (e, index) => @promise(e, index) }

						</div>
					</div>
				</div>		
  
				<div class="container clearfix">
					<div class="heading-block topmargin-lg center">
						<h2>@Html(Messages("home.quotation.options"))</h2>
						<span class="divcenter">@Html(Messages("home.quotation.by.brand"))</span>
					</div>
				
					<div class="row bottommargin-lg">
						@brands.get.map{ brand =>
							<div class="brand-logo-list-item col-3 col-sm-2 col-xl-1">
								<a href="@routes.HomeController.chooseQuotation(brand.getSeoName)" title="@Html(Messages("home.brand.title", brand.getDisplayName))"><img class="img-responsive lazyload" data-src="@remote_assets("images/"+brand.logo_url.get(), true)" alt="@Html(Messages("home.brand.alt", brand.getDisplayName))" title="@Html(Messages("home.brand.title", brand.getDisplayName))"></a>
							</div>
						}
					</div>
					
					<div class="heading-block topmargin-lg center">
						<h2></h2>
						<span class="divcenter">@Html(Messages("home.quotation.alternative"))</span>
					</div>
				
												
					@List(("icon-line-pie-graph", routes.FormProcessingController.prepareAutoQuotation().url, "auto.quotation"),
							("icon-eye", routes.FormProcessingController.prepareQuotationRequest().url, "order"),
							("icon-shop", routes.HomeController.visit().url, "local")).zipWithIndex.map { case (value,index) => @quotation(value._1, value._2, value._3, index+1) }
						
										

												
				</div>
				
				<div class="promo promo-light promo-full bottommargin-sm notopborder padding-reduced">
					<div class="container clearfix">
						<h3>@Html(Messages("global.text.call.us.reasons"))<span>&nbsp;<a href="tel:@Messages("global.href.phone.number")" rel="nofollow">@Html(Messages("global.text.phone.number"))</a></span></h3>
						<span>@Html(Messages("global.text.footer.conditions.cost")), @Html(Messages("global.text.footer.conditions.when"))</span>
						<div class="action">
							<a href="@routes.HomeController.visit()" class="button button-dark button-xlarge button-rounded"><i class="icon-location"></i> @Html(Messages("home.action.text.visit.us.action"))</a>
						</div>
					</div>
				</div>				


				<div class="container clearfix">

					<div class="heading-block topmargin-lg center">
						<h2>@Html(Messages("home.feature.claim"))</h2>
						<span class="divcenter">@Html(Messages("home.feature.baseline"))</span>
					</div>
					
					<div class="d-block d-md-none row bottommargin-sm leftmargin-sm rightmargin-sm">

						<div class="bottommargin">
						
							@List("icon-home",
									"icon-thumbs-up21",
									"icon-euro-sign",
									"icon-calendar-alt",
									"icon-leaf",
									"icon-certificate").zipWithIndex.map { case (e, index) => @feature(e, index, false) }

						</div>

					</div>

					<div class="d-none d-md-flex  row bottommargin-sm">

						<div class="col-lg-4 col-md-6 bottommargin">
						
							@List("icon-home",
									"icon-thumbs-up21",
									"icon-euro-sign").zipWithIndex.map { case (e, index) => @feature(e, index, true) }

						</div>

						<div class="col-lg-4 d-md-none d-lg-block bottommargin center">
							<img src="@remote_assets("images/home/m116610lv-0002.webp")" alt="Rolex Hulk">
						</div>

						<div class="col-lg-4 col-md-6 bottommargin">
						
							@List("icon-calendar-alt",
									"icon-leaf",
									"icon-certificate").zipWithIndex.map { case (e, index) => @feature(e, index+3, false) }

						</div>

					</div>

				</div>
				

				

				<div class="section notopmargin nobottommargin">

					<div class="container clearfix">

						<div class="heading-block center bottommargin-sm">
							<h3>@Html(Messages("home.testimonials.head.title"))</h3>
							<span>@Html(Messages("home.testimonials.head.baseline"))</span>
						</div>

						<div id="oc-testi" class="owl-carousel testimonials-carousel carousel-widget" data-margin="20" data-items-sm="1" data-items-md="2" data-items-xl="3">
						@feedbacks.get.map{ feedback =>
							<div class="oc-item">
								@testimonial(feedback)
							</div>
						}
						</div>

					</div>

				</div>

				<a href="@routes.FormProcessingController.prepareQuotationRequest()" class="button button-full center tright footer-stick">
					<div class="container clearfix">
						@Html(Messages("home.bottom.line.claim")) <strong>@Html(Messages("home.bottom.line.action")) </strong> <i class="icon-caret-right" style="top:4px;"></i>
					</div>
				</a>

			</div>
}
