@()(implicit messages: play.i18n.Messages)

@import scala.collection.immutable._
@import tags._

@service(key: String, imgUrl: String, align: String, index: Int, buttonsLinks: List[String], buttonsClasses: List[String]) = {
					@if(align.equals("left")) {
						@service_img(key, imgUrl, false)
					}

					<div id="@key" class="class-@key service col_three_fifth nobottommargin @if(align.equals("left")) {col_last}">

						<div class="heading-block">
							<h3>@h_msg_key(key, "head")</h3>
							<span>@h_msg_key(key, "head.subtitle")</span>
						</div>

						<span>@h_msg_key(key, "body")</span>
						@if(buttonsLinks.size != 0) {
						<div class="center">
							@buttonsLinks.zipWithIndex.map { case (link, index) => @service_button(key, link, buttonsClasses.get(index), index) }
						</div>
						}
					</div>

					@if(align.equals("right")) {
						@service_img(key, imgUrl, true)
					}

					<div class="clear"></div><div class="line"></div>
}


@service_img(key: String, imgUrl: String, isLast: Boolean) = {
					<div class="col_two_fifth topmargin nobottommargin center @if(isLast) {col_last}" style="min-height: 350px;">
						<img class="img-responsive" src="@imgUrl" alt="@msg_key(key, "img.alt")">
					</div>
}

@service_button(key: String, link: String, cssClass: String, index: Int) = {
						<a href="@link" class="@cssClass button button-border button-rounded button-large noleftmargin topmargin-sm">@h_msg_key(key, "action."+index+".text")</a>
}


@insight(key: String, imgUrl: String, index: Int) = {
						<div class="col_one_third nobottommargin @if(index%3==0) {col_last}">
							<div class="feature-box media-box">
								<div class="fbox-media">
									<img src="@imgUrl" alt="@h_msg_key(key, "insight.img.alt")">
								</div>
								<div class="fbox-desc">
									<h3>@h_msg_key(key, "insight.head")<span class="subtitle">@h_msg_key(key, "insight.head.subtitle")</span></h3>
									<p>@h_msg_key(key, "insight.body")</p>
								</div>
							</div>
						</div>
}

@defining("offer") { case (key) =>

@layouts.main_helper(key) {

			<div class="content-wrap">
				<!--<div class="section">
					<div class="container clearfix">
					
						@List((key+".service", "/assets/images/home/grid-6.jpg"),
						(key+".restore", "/assets/images/logo-ruuma.png"),
						(key+".other", "/assets/images/logo-ruuma.png")).zipWithIndex.map { case (value,index) => @insight(value._1, value._2, index+1) }
						
					</div>
				</div>-->

				<div class="container clearfix">
				
					@List((key+".service", "/assets/images/home/grid-6.jpg", "left", List(routes.HomeController.quotationOptions().url, routes.HomeController.quotationOptions().url), List("button-dark", "button-light")),
						(key+".restore", "/assets/images/logo-ruuma.png", "right", List(routes.HomeController.quotationOptions().url), List("button-dark")),
						(key+".quartz", "/assets/images/logo-ruuma.png", "left", List.empty[String], List.empty[String]),
						(key+".auth", "/assets/images/logo-ruuma.png", "right", List(routes.HomeController.quotationOptions().url), List("button-dark")),
						(key+".home", "/assets/images/logo-ruuma.png", "left", List(routes.HomeController.quotationOptions().url), List("button-dark")),
						(key+".other", "/assets/images/logo-ruuma.png", "right", List(routes.HomeController.quotationOptions().url), List("button-dark"))).zipWithIndex.map { case (value,index) => @service(value._1, value._2, value._3, index+1, value._4, value._5) }
				</div>	
			</div>
}
}