@(brands: Optional[List[Brand]])(implicit request: Http.Request, messages: play.i18n.Messages)

@import scala.collection.immutable._
@import tags._

@service(key: String, imgUrl: String, align: String, index: Int, buttonsLinks: List[String], buttonsClasses: List[String], bodyParams: String*) = {
					@if(align.equals("left") && imgUrl != null) {
						@service_img(key, imgUrl, false)
					}

					<div id="@key" class="class-@key service @if(align.equals("left") || align.equals("right") ) {col_three_fifth} nobottommargin @if(align.equals("left")) {col_last}">

						<div class="heading-block">
							<h3>@h_msg_key(key, "head")</h3>
							<span>@h_msg_key(key, "head.subtitle")</span>
						</div>

						<span>@h_msg_key(key, "body", bodyParams:_*)</span>
						@if(buttonsLinks.size != 0) {
						<div class="center">
							@buttonsLinks.zipWithIndex.map { case (link, index) => @service_button(key, link, buttonsClasses.get(index), index) }
						</div>
						}
					</div>

					@if(align.equals("right") && imgUrl != null) {
						@service_img(key, imgUrl, true)
					}

					<div class="clear"></div><div class="line"></div>
}


@service_img(key: String, imgUrl: String, isLast: Boolean) = {
					<div class="col_two_fifth topmargin nobottommargin center @if(isLast) {col_last}" style="min-height: 350px;">
						<img class="img-responsive" src="@remote_assets(imgUrl)" alt="@msg_key(key, "img.alt")">
					</div>
}

@service_button(key: String, link: String, cssClass: String, index: Int) = {
						<a href="@link" class="@cssClass btn noleftmargin topmargin-sm">@h_msg_key(key, "action."+index+".text")</a>
}



@defining("offer") { case (key) =>

	@layouts.main_helper_with_head_block(key){

					@List((key+".service", "images/content/working-600.jpg", "left", List(routes.HomeController.content("content.service.repairing").url, routes.HomeController.quotationOptions().url), List("btn-outline-dark", "btn-outline-secondary"), brands.get.map(_.getDisplayName).mkString(", ")),
						(key+".restore", "images/content/mvt-dayto-600.jpg", "right", List(routes.FormProcessingController.prepareQuotationRequest().url+"?"+FormProcessingController.ORDER_TYPE_PARAMETER_NAME+"="+FormProcessingController.REPAIR_ORDER_TYPE), List("btn-outline-dark"), ""),
						(key+".quartz", "images/content/water-test-600.jpg", "left", List(routes.FormProcessingController.prepareQuartzPrice().url), List("btn-outline-dark"), ""),
						(key+".auth", "images/content/authen-book-600.jpg", "right", List(routes.HomeController.content("content.authenticating").url), List("btn-outline-dark"), ""),
						(key+".home", null, "none", List(routes.FormProcessingController.prepareCallBackRequest().url), List("btn-outline-dark"), ""),
						(key+".other", null, "none", List(routes.HomeController.quotationOptions().url), List("btn-outline-dark"), "")).zipWithIndex.map { case (value,index) => @service(value._1, value._2, value._3, index+1, value._4, value._5, value._6) }
	}
}