@(form: Form[QuotationRequestData], brands: Optional[List[Brand]], brand: Optional[Brand])(implicit request: Http.Request, messages: play.i18n.Messages)

@import scala.collection.immutable._
@import tags._

@implicitField = @{ helper.FieldConstructor(canvasFieldTemplate.f) }

@*****************************************
 * Keys
 *****************************************@

@formKey = {quotation.form}

@keyIncludingBrand = {@formKey.@brand.map(_.getInternalName).getOrElse("undefined")}

@*****************************************
 * Style Helpers
 *****************************************@

@inputDiv(size: Int, addedClass: String="")(content: Html) = {
	<div class="col-md-@size form-group mb-4 @addedClass">
		@content
	</div>
}

@fullWidth(addedClass: String="")(content: Html) = {
	@inputDiv(12, addedClass) {@content}
}

@halfWidth(addedClass: String="")(content: Html) = {
	@inputDiv(6, addedClass) {@content}
}

@computeClassForInput(isRequired: Boolean, isInError: Boolean, args: (Symbol,Any)*) = {form-control @if(isRequired) {required} @if(isInError) {error} @args.toMap.get(Symbol("_body_class")).map(_.toString)}

@selectLabelClassCss(size: Int) = {btn btn-outline-secondary px-@size t600 ls0 nott}

@*****************************************
 * End of Style Helpers
 *****************************************@
 
@*****************************************
 * Form Helpers
 *****************************************@

@computeMessageKey(fieldName: String, suffix: String) = {@{formKey}.@{fieldName.toString.toLowerCase.replace('_','.')}.@{suffix}}

@inputText(fieldName: String, isRequired: Boolean, isInError: Boolean, args: (Symbol,Any)*) = {
	@helper.inputText(form(fieldName), (Seq(Symbol("class") -> computeClassForInput(isRequired, isInError, args:_*).toString, Symbol("_showConstraints") -> false, Symbol("placeholder") -> Html(Messages(computeMessageKey(fieldName, "placeholder").toString)), Symbol("_label") -> Html(Messages(computeMessageKey(fieldName, "label").toString))) ++ args):_* )(tags.canvasFieldTemplate, messages)
}

@inputBox(fieldName: play.data.Form.Field, isRequired: Boolean, args: (Symbol,Any)*) = {
	@halfWidth() {
		@inputText(fieldName.name.get, isRequired, fieldName.hasErrors, args:_*)
	}
}

@selectField(size: Int, id: String, name: String, value: Option[String], tuple: (String, play.twirl.api.Html), args: Map[Symbol,Any]) = {
											<label for="@(id)_@tuple._1" class="@selectLabelClassCss(size) @if(value == Some(tuple._1)){active}">
												<input type="radio" name="@name" id="@(id)_@tuple._1" autocomplete="off" value="@tuple._1" @if(value == Some(tuple._1)){checked="checked"} @toHtmlArgs(args)>@tuple._2</input>
											</label>
}

@*****************************************
 * End of Form Helpers
 *****************************************@


@defining(brand.map(b => b.display_name).orElse(Messages(keyIncludingBrand.toString+".brand.name"))) { brandName =>
@defining(
	Messages(formKey.toString+".html.title", brandName),
	Messages(formKey.toString+".html.description", brandName, Messages(keyIncludingBrand.toString+".brand.models")),
	Messages(formKey.toString+".html.keywords", brandName, Messages(keyIncludingBrand.toString+".brand.models"))) { case (title, description, keywords) =>
@layouts.main_helper_with_head_block(formKey.toString, Symbol("_html_title") -> title, Symbol("_html_description") -> description, Symbol("_html_keywords") -> keywords, Symbol("_head_intro_key") -> Messages(formKey.toString+".head.intro", brandName)){
		
		@helper.form(action = routes.FormProcessingController.processQuotationRequest(), Symbol("id") -> "website-cost", Symbol("class") -> "row mb-0") {
			@helper.CSRF.formField
									<div class="form-process"></div>
									
									@fullWidth("my-forms") {
										@helper.input(form("orderType"), Symbol("_class") -> "mb-3 group-label not-clickable", Symbol("_label") -> Html(Messages(computeMessageKey("orderType", "label").toString)), Symbol("_showConstraints") -> false) { (id, name, value, args) =>
												@List.range(1, 6).map(option => (option.toString, Html(Messages(formKey.toString+"."+option.toString+".order.type")))).toSeq.map { v => @selectField(3, id, name, value, v, args) }
										}(tags.canvasRadioGroupBoxedFieldTemplate, messages)
									}

									@fullWidth("group-label") {
										<label class="not-clickable">@Html(Messages(formKey.toString+".group.label.watch"))</label>
									}
									
									@halfWidth() {
										@helper.select(form("brand"), options = brands.get().map(brand => (brand.id.toString, brand.display_name)).toSeq, Symbol("_class") -> "not-clickable", Symbol("class") -> computeClassForInput(true, form("brand").hasErrors, Symbol("_body_class") -> "").toString, Symbol("_default") -> Html(Messages(computeMessageKey("brand", "default").toString)), Symbol("_label") -> Html(Messages(computeMessageKey("brand", "label").toString)), Symbol("_showConstraints") -> false)
									}
								
									@inputBox(form("model"), true)
									
									@fullWidth("my-forms") {
										@helper.input(form("method"), Symbol("_class") -> "mb-3 not-clickable", Symbol("_label") -> Html(Messages(computeMessageKey("method", "label").toString)), Symbol("_showConstraints") -> false) { (id, name, value, args) =>
												@List.range(1, 4).map(value => (value.toString, Html(Messages(formKey.toString+"."+value.toString+".method")))).toSeq.map { v => @selectField(5, id, name, value, v, args) }
										}(tags.canvasRadioGroupBoxedFieldTemplate, messages)
									}
									
									
									<div class="col-12 mt-2 mb-3">
										<div class="card p-3 bg-light">
											<div class="my-forms">
												<h3 class="mb-2">@Html(Messages(formKey.toString+".group.label.customer"))</h3>
												<div class="row">
													@List(("nameOfCustomer", true),
														("email", true),
														("phoneNumber", false),
														("city", true)).map { value => @inputBox(form(value._1), value._2) }
												</div>
											</div>
										</div>
									</div>
									
									@fullWidth() {
										@helper.textarea(form("remark"), Symbol("class") -> "form-control", Symbol("placeholder") -> Html(Messages(computeMessageKey("remark", "placeholder").toString)), Symbol("_label") -> Html(Messages(computeMessageKey("remark", "label").toString)), Symbol("cols") -> "30", Symbol("rows") -> "10", Symbol("_showConstraints") -> false)
									}

									<div class="col-12">
										<button type="submit" name="website-cost-submit" class="btn btn-success btn-lg">@Html(Messages(formKey.toString+".submit"))</button>
									</div>

			}
	}
}
}