@(form: Form[RolexSerialRequestData])(implicit request: Http.Request, messages: play.i18n.Messages)

@import scala.collection.immutable._
@import tags._

@implicitField = @{ helper.FieldConstructor(canvasFieldTemplate.f) }

@*****************************************
 * Keys
 *****************************************@

@formKey = {rolex.serial.form}

@*****************************************
 * Style Helpers
 *****************************************@

@inputDiv(size: Int, addedClass: String="")(content: Html) = {
	<div class="col-md-@size form-group mb-4 @addedClass">
		@content
	</div>
}

@fullWidth(addedClass: String="")(content: Html) = {
	@inputDiv(12, addedClass) {@content}
}

@halfWidth(addedClass: String="")(content: Html) = {
	@inputDiv(6, addedClass) {@content}
}

@computeClassForInput(isRequired: Boolean, isInError: Boolean, args: (Symbol,Any)*) = {form-control @if(isRequired) {required} @if(isInError) {error} @args.toMap.get(Symbol("_body_class")).map(_.toString)}

@selectLabelClassCss(size: Int) = {btn btn-outline-secondary px-@size t600 ls0 nott}

@*****************************************
 * End of Style Helpers
 *****************************************@
 
@*****************************************
 * Form Helpers
 *****************************************@

@computeMessageKey(fieldName: String, suffix: String) = {@{formKey}.@{fieldName.toString.toLowerCase.replace('_','.')}.@{suffix}}

@inputText(fieldName: String, isRequired: Boolean, isInError: Boolean, args: (Symbol,Any)*) = {
	@helper.inputText(form(fieldName), (Seq(Symbol("class") -> computeClassForInput(isRequired, isInError, args:_*).toString, Symbol("_showConstraints") -> false, Symbol("placeholder") -> Html(Messages(computeMessageKey(fieldName, "placeholder").toString)), Symbol("_label") -> Html(Messages(computeMessageKey(fieldName, "label").toString))) ++ args):_* )(tags.canvasFieldTemplate, messages)
}

@inputBox(fieldName: play.data.Form.Field, isRequired: Boolean, args: (Symbol,Any)*) = {
	@halfWidth() {
		@inputText(fieldName.name.get, isRequired, fieldName.hasErrors, args:_*)
	}
}

@selectField(size: Int, id: String, name: String, value: Option[String], tuple: (String, play.twirl.api.Html), args: Map[Symbol,Any]) = {
											<label for="@(id)_@tuple._1" class="@selectLabelClassCss(size) @if(value == Some(tuple._1)){active}">
												<input type="radio" name="@name" id="@(id)_@tuple._1" autocomplete="off" value="@tuple._1" @if(value == Some(tuple._1)){checked="checked"} @toHtmlArgs(args)>@tuple._2</input>
											</label>
}

@*****************************************
 * End of Form Helpers
 *****************************************@

@*****************************************
 * Content Helpers
 *****************************************@
 @explanation(values: List[(String,String)]) = {
		<div class="row text-justify">
			@values.zipWithIndex.map { case (value,index) => 
			<div class="col-lg-6">
				<picture>
					<source type="image/webp" data-srcset="@remote_assets(value._1.toString+".webp")">
					<img src="@remote_assets(value._1+".jpg")" async alt="@Html(Messages(formKey.toString+".picture."+value._2.toString+".alt"))">
				</picture>
				<div class="d-lg-none d-xl-none">
					<div class="divider divider-center"><i class="icon-line-eye"></i></div>
					<p>@Html(Messages(formKey.toString+".text."+value._2.toString+".why"))<br /></p>
					<p><i class="icon-arrow-right2"></i>&nbsp;@Html(Messages(formKey.toString+".text."+value._2.toString+".to.do"))</p>
				</div>
			</div>
			}
		</div>
		<div class="row text-justify">
			@values.zipWithIndex.map { case (value,index) =>
			<div class="col-lg-6 d-none d-lg-block">
					<div class="divider divider-center"><i class="icon-line-eye"></i></div>
					<p>@Html(Messages(formKey.toString+".text."+value._2.toString+".why"))<br /></p>
					<p><i class="icon-arrow-right2"></i>&nbsp;@Html(Messages(formKey.toString+".text."+value._2.toString+".to.do"))</p>
			</div>
			}
		</div>
}

@*****************************************
 * End of Content Helpers
 *****************************************@


@layouts.main_helper_with_head_block(formKey.toString){
		
		@helper.form(action = routes.FormProcessingController.processRolexSerialRequest(), Symbol("id") -> "rolex-serial", Symbol("class") -> "row mb-0") {
				@helper.CSRF.formField
									<div class="form-process"></div>
									
									@inputBox(form("serial"), true, Symbol("maxlength") -> "8", Symbol("pattern") -> "[0-9a-zA-Z]{1,8}")
									
									<div class="col-12">
										@form_btn("rolex-serial", Messages(formKey.toString+".submit"))
									</div>

		}
		
		<div class="fancy-title title-dotted-border title-center">
			<h3>@Html(Messages(formKey.toString+".helper.title"))</h3>
		</div>
		@explanation(List(("images/serials/old-2000", "old"), ("images/serials/new-2000", "new")))
		
}