@(serial: String, result: models.RolexYearFromSerialResult)(implicit request: Http.Request, messages: play.i18n.Messages)

@import scala.collection.immutable._
@import tags._

@in_head_script = {
<script>
	   gtag('event', 'rolex_serial', {
	    'event_category': 'forms',
	    'event_label': 'success',
	    'value': @result.getYears.toString
		});
</script>
}


@defining("rolex.serial.success") { case (key) =>
	@layouts.main_helper_with_head_block(key, Symbol("_css_content_div_class") -> "action-result", Symbol("_in_head_script") -> in_head_script) {
		<h3 class="action-successfull center topmargin-lg">
			@Html(Messages(key+".result.header"))
			@Html(Messages(key+".type."+result.typeOfResult+".value", result.getResultAsDisplayableValue.lift(0).orNull, result.getResultAsDisplayableValue.lift(1).orNull))
		</h3>
		<div class="center">
			<a href="/perma/devis/rolex" title="@Html(Messages(key+".quotation.title"))" class="button button-3d button-reveal button-large"><i class="icon-line2-calculator"></i><span>@Html(Messages(key+".action.quotation.request"))</span></a>
		</div>
					
	}
}