@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@()(content: Html)(implicit request: Http.Request, messages: play.i18n.Messages)

@import scala.collection.immutable._
@import tags._

@opengraph() = {
	<meta property="og:site_name" content="hometime" />
    <meta property="og:title" content="Hometime" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.hometime.fr/" />
    <meta property="og:image" content="https://www.hometime.fr/assets/images/logo_for_facebook.jpg" />
    <meta property="og:description" content="Hometime, révision, réparation, vente de montres de luxe" />
    <meta property="forsearch:image" content="https://www.hometime.fr/assets/images/revision-reparation-montre-paris-small.webp" />
    <meta property="forsearch:image" content="https://www.hometime.fr/assets/images/revision-reparation-montre-paris-small.png" />
    <meta property="forsearch:image" content="https://www.hometime.fr/assets/images/revision-reparation-montre-paris-small.jpg" />
}


@layouts.main_helper("home", Symbol("_head_post_content") -> opengraph()) {

		<section id="slider" class="slider-element slider-parallax swiper_wrapper clearfix">

			<div class="slider-parallax-inner">

				<div class="swiper-container swiper-parent">
					<div class="swiper-wrapper">
						<div class="swiper-slide dark pseudo-background-img-container">
							<img class="pseudo-background-img webp-alt-background" src="@remote_assets("images/home/bg1-2000.jpg")" srcset="@remote_assets("images/home/bg1-500.webp") 500w, @remote_assets("images/home/bg1-1000.webp") 1000w, @remote_assets("images/home/bg1-2000.webp") 2000w, @remote_assets("images/home/bg1-4000.webp") 4000w, @remote_assets("images/home/bg1-5000.webp") 5000w" sizes="100vw" alt="@Html(Messages("home.main.header.1.alt"))">
							<div class="container clearfix">
								<div class="slider-caption slider-caption-center slider-1">
									<h2 data-animate="fadeInUp">
										<span class="text-rotater nocolor" data-separator="|" data-rotate="flipInX" data-speed="3500">@Html(Messages("home.main.header.1.title"))
											<span class="t-rotate">@Html(Messages("home.main.header.1.text"))</span>
										</span>
									</h2>
								</div>
							</div>
						</div>
						<div class="swiper-slide dark">
							<div class="container clearfix">
								<div class="slider-caption slider-caption-center slider-2">
									<h2 data-animate="fadeInUp">@Html(Messages("home.main.header.2.title"))</h2>
									<p class="d-none d-sm-block" data-animate="fadeInUp" data-delay="200">@Html(Messages("home.main.header.2.text"))</p>
								</div>
							</div>
							<div class="video-wrap webp-alt-video">
								<video poster="@remote_assets("images/home/videos/bg-snap.webp")" data-alt-poster="@remote_assets("images/home/videos/bg-snap.png")" preload="auto" loop autoplay muted>
									<source src='@remote_assets("images/home/videos/bg.webm")' type='video/webm' />
								</video>
								<div class="video-overlay" style="background-color: rgba(0,0,0,0.55);"></div>
							</div>
							
						</div>
						<div class="swiper-slide pseudo-background-img-container">
							<img class="pseudo-background-img webp-alt-background" src="@remote_assets("images/home/bg2-2000.jpg")" srcset="@remote_assets("images/home/bg2-500.webp") 500w, @remote_assets("images/home/bg2-1000.webp") 1000w, @remote_assets("images/home/bg2-2000.webp") 2000w, @remote_assets("images/home/bg2-4000.webp") 4000w, @remote_assets("images/home/bg2-6000.webp") 6000w" sizes="100vw"  alt="@Html(Messages("home.main.header.3.alt"))">
							<div class="container clearfix">
								<div class="slider-caption slider-caption-right slider-3">
									<h2 data-animate="fadeInUp">@Html(Messages("home.main.header.3.title"))</h2>
									<p class="d-none d-sm-block" data-animate="fadeInUp" data-delay="200">@Html(Messages("home.main.header.3.text"))</p>
								</div>
							</div>
						</div>
					</div>
					<div class="slider-arrow-left"><i class="icon-angle-left"></i></div>
					<div class="slider-arrow-right"><i class="icon-angle-right"></i></div>
					<div class="slide-number"><div class="slide-number-current"></div><span>/</span><div class="slide-number-total"></div></div>
				</div>

			</div>

		</section>

		<!-- Content
		============================================= -->
		<section id="content">

			@content

		</section><!-- #content end -->

}