@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@()(content: Html)(implicit request: Http.Request, messages: play.i18n.Messages)

@import scala.collection.immutable._
@import tags._


@layouts.main_helper("home") {

		<section id="slider" class="slider-element slider-parallax swiper_wrapper clearfix">

			<div class="slider-parallax-inner">

				<div class="swiper-container swiper-parent">
					<div class="swiper-wrapper">
						<div class="swiper-slide dark" style="background-image: url('@remote_assets("images/home/bg3c.jpg")'); background-image: -webkit-image-set(url('@remote_assets("images/home/bg3c.webp")') 1x);">
							<div class="container clearfix">
								<div class="slider-caption slider-caption-center slider-1">
									<h2 data-animate="fadeInUp">
										<span class="text-rotater nocolor" data-separator="|" data-rotate="flipInX" data-speed="3500">@Html(Messages("home.main.header.1.title"))
											<span class="t-rotate">@Html(Messages("home.main.header.1.text"))</span>
										</span>
									</h2>
								</div>
							</div>
						</div>
						<div class="swiper-slide dark">
							<div class="container clearfix">
								<div class="slider-caption slider-caption-center slider-2">
									<h2 data-animate="fadeInUp">@Html(Messages("home.main.header.2.title"))</h2>
									<p class="d-none d-sm-block" data-animate="fadeInUp" data-delay="200">@Html(Messages("home.main.header.2.text"))</p>
								</div>
							</div>
							<div class="video-wrap">
								<video poster="@remote_assets("images/home/videos/bg-snap.png")" preload="auto" loop autoplay muted>
									<source src='@remote_assets("images/home/videos/bg.webm")' type='video/webm' />
								</video>
								<div class="video-overlay" style="background-color: rgba(0,0,0,0.55);"></div>
							</div>
							
						</div>
						<div class="swiper-slide" style="background-image: url('@remote_assets("images/home/bg3c.jpg")'); background-image: -webkit-image-set(url('@remote_assets("images/home/bg2.webp")') 1x, url('@remote_assets("images/home/bg22x2.webp")') 2x, url('@remote_assets("images/home/bg23x2.webp")') 3x); background-position: center middle;">
							<div class="container clearfix">
								<div class="slider-caption slider-caption-right slider-3">
									<h2 data-animate="fadeInUp">@Html(Messages("home.main.header.3.title"))</h2>
									<p class="d-none d-sm-block" data-animate="fadeInUp" data-delay="200">@Html(Messages("home.main.header.3.text"))</p>
								</div>
							</div>
						</div>
					</div>
					<div class="slider-arrow-left"><i class="icon-angle-left"></i></div>
					<div class="slider-arrow-right"><i class="icon-angle-right"></i></div>
					<div class="slide-number"><div class="slide-number-current"></div><span>/</span><div class="slide-number-total"></div></div>
				</div>

			</div>

		</section>

		<!-- Content
		============================================= -->
		<section id="content">

			@content

		</section><!-- #content end -->

}