@*
 * Main template
 *@
@(key: String, title: String, description: String, keywords: String, args: (Symbol, Any)*)(content: Html)(implicit request: Http.Request, messages: play.i18n.Messages)

@import scala.collection.immutable._
@import tags._

<!DOCTYPE html>
<html dir="ltr" lang="fr">
<head>
	@layouts.fragments.main_head(title, description, keywords, args:_*)(Html(""))(Html(""))(request, messages)
</head>

<body data-loader="4" class="stretched @key.replace(".", "-")">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">
		
		
		@layouts.fragments.main_flash_bar()

		@layouts.fragments.main_top_bar()

		@layouts.fragments.main_header(key)

		@content
			
		@layouts.fragments.footer()

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	@List(	"lib/jquery/jquery.js",
			"js/plugins.js").map { e =><script src="@remote_assets(e)"></script>
	}

	<!-- Footer Scripts
	============================================= -->
	<script src="@remote_assets("js/functions.js")"></script>
	<script src="@remote_assets("js/site-wise-custom.js")"></script>
	<script src="@remote_assets("js/lazysizes.min.js")"></script>
	
	@args.toMap.get(Symbol("_end_script"))

</body>
</html>
